BOT_TOKEN=BotFather_bergan_YANGI_token
OWNER_ID=8007670371
CHANNEL=@xitoyshopuz_rasmi
DATABASE_URL=postgresql://...   # Railway Postgres avtomatik beradi
WEBAPP_URL=https://sizning-app.up.railway.app
